h1 {color: tomato}
img {width: 400px;height:275px}
div#thirdDIv{width: 500px;
             height: 600px;
             background-color:yellow;
             padding: 50px;
             border-color: tomato;
             border-style: solid;
             border-width: medium;} 
span#spanId{font-size: 25px;
            margin-left: 50px;}
